<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>

  <li class="category-title"><%= category.title  %></li>
  <div class="card">
	<div class="category-content category-<%= category.id %>">
	    <ul>
	      <% category.tasks.sort_by {|task|task.created_at}.each do |task|  %>

	      <li class="task-<%= task.id %>"
	      	<% if task.status %>
	      		style="text-decoration: line-through;"
	      	<% end %>
	      		 >
	      	<%= check_box_tag :name, 1, task.status , data: { remote: true, url: task_path(task), params: { id: task.id}.to_param, method: "put" }%>
	        <%= task.title  %>
	        <% unless task.deadline.nil? %>
	          , to read: <%= task.deadline.strftime('%D')  %>
	        <% end %>
	        <%= link_to fa_icon("trash"), task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
	      </li>
	      <% end %>
	    </ul>
	</div>
  </div>
  <% end %>
  </ul>
</div>

<div class="container text-center d-flex justify-content-center">
	<button id="previous"><-</button>
  	<div id="carousel">
    	<% @tasks.each do |task|  %>
        	<% unless task.image.nil? %>
          		<%= image_tag task.image, class: "rounded-circle carousel-img" %>
        	<% end %>

    	<% end %>
  	</div>
	<button id="next">-></button>
</div>
<div class="container text-center d-flex justify-content-center">
	<% @tasks.each_with_index do |task, i|  %>
        	<% unless task.image.nil? %>
          		<span slide="<%= i %>" class="dot"></span>
        	<% end %>

    <% end %>
</div>
